/* Recipe.css */

/* Global Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

/* Header Styles */
header {
  background-color: #333;
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #f2f2f2;
}

/* Main Content Styles */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

img {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2, h4, h5 {
  text-align: center;
}

.Ingredients {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Step {
  margin-bottom: 20px;
}

.Step h2 {
  margin-bottom: 10px;
}

.Step h4 {
  margin: 0px;
}

.download {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 200px;
  border-radius: 5px;
}

.download:hover {
  background-color: #666;
}

.download-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
