<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/homepage">Home</a></li>
            <li><a href="/search">Search Recipes</a></li>
            <li><a href="/home">Add Recipies</a></li>
            <li><a href="/">Explore</a></li>
          </ul>
          <h2 class="title">HomeCook</h2>
        </nav>
      </header>
      
</body>
</html>
